@page
@model Mission9_pthoma24.Pages.BuyModel
@{
}

<h2>Your Cart</h2>

<table class="table table-striped table-bordered">

    <thead>
        <tr>
            <th>Item</th>
            <th>Quantity</th>
            <th>Cost</th>
            <th>Subtotal</th>
        </tr>
    </thead>

    <tbody>

        <!-- Iterate through each cart instance -->
        @foreach(var i in Model.cart.Items)
        {
            <tr>
                <td>@i.Book.Title</td>
                <td>@i.Quantity</td>
                <td>@i.Price</td>
                <td>@(i.Quantity * i.Price)</td>
            </tr>
        }
    </tbody>

    <tfooter>
        <tr>
            <td colspan="3">Total:</td>
            <td>@Model.cart.CalculateTotal().ToString("c")</td>
        </tr>
    </tfooter>
</table>

<div>
    <a class="btn btn-primary" href="@Model.ReturnUrl">Continue Shopping</a>
</div>